.flex{
    display: flex;
    justify-content: center;
    margin: 50px;
}

input[type="text"]{
  border-radius: 0px;
    font-size: 15px;
    padding: 7px;
    border: 1px solid grey;
    border-right: none;
}

input[type="text"]:focus{
  outline: none;
    border-right: none;
}

.searchItems button{
    color: grey;
    font-family: poppins;
    font-size: 15px;
    padding: 8px 8px 6px 10px;
    border: 1px solid grey;
    border-left: none;
    background-color: white;
}

.searchItems button:hover{
  color: cornflowerblue;
}

button{
  color: black;
  font-family: poppins;
  font-size: 15px;
  padding: 8px 8px 6px 10px;
  border: 1px solid grey;
}

button:hover{
  border: none;
  color: whitesmoke;
  background-color: cornflowerblue;
}

.add-btn{
    background-color: tomato;
}

.add-btn:hover{
    cursor: pointer;
    background-color: rgb(202, 78, 56);
}

.inactive-btn{
    color: whitesmoke;
    font-family: poppins;
    padding: 10px 20px;
    font-size: 15px;
    background-color: grey;
    border: none;
    border-radius: 10px;
  }
  
  .inactive-btn:hover{
    cursor: not-allowed;
    background-color: grey;
  }

  .delete-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: whitesmoke;
    margin-left: 5px;
  }

  .delete-btn:hover{
    background-color: rgb(255, 111, 111);
  }

  .edit-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: whitesmoke;
  }

  .edit-btn:hover{
    background-color: rgb(81, 131, 81);
  }


  .container{
    /* padding: 1rem;
    margin: 1rem; */
  }

  table{
    border: none;
  }

  .table-scroll{
    display: block;
    empty-cells: show;
    
    /* Decoration */
    border-spacing: 0;
    border: 1px solid;
  }
  
  .table-scroll thead{
    background-color: #f1f1f1;   
    position:relative;
    display: block;
    width:100%;
    /* overflow-y: scroll; */
  }
  
  .table-scroll tbody{
    /* Position */
    display: block; position:relative;
    width:100%; overflow-y:scroll;
    /* Decoration */
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  
  .table-scroll tr{
    width: 100%;
    display:flex;
  }
  
  .table-scroll td,.table-scroll th{
    flex-basis:100%;
    flex-grow:2;
    display: block;
    padding: 1rem;
    text-align:left;
  }
  
  /* Other options */
  
  .table-scroll.small-first-col td:first-child,
  .table-scroll.small-first-col th:first-child{
    flex-basis:20%;
    flex-grow:1;
  }
  
  .table-scroll tbody tr:nth-child(2n){
    background-color: rgba(130,130,170,0.1);
  }
  
  .body-half-screen{
    max-height: 50vh;
  }
  
  .small-col{flex-basis:10%;}


  .button-color{
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
  }

  .button-color:hover{
    color: whitesmoke;
  }

  .card-header p{
    color: cornflowerblue;
    font-family: poppins;
    font-weight: bold;
    font-size: 15px;
  }

 .card{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-header{
    height: 3rem;
  }

  .btn-outline-primary{
  margin-right: 10px;
  margin-bottom: 15px;
}

.hidden{
  display: none;
}
