.flex{
    display: flex;
    justify-content: center;
    margin: 50px;
}

input[type="text"]{
  border-radius: 0px;
    font-size: 15px;
    padding: 7px;
    border: 1px solid grey;
    border-right: none;
}

input[type="text"]:focus{
  outline: none;
    border-right: none;
}

.searchItems button{
    color: grey;
    font-family: poppins;
    font-size: 15px;
    padding: 8px 8px 6px 10px;
    border: 1px solid grey;
    border-left: none;
    background-color: white;
}

.searchItems button:hover{
  color: cornflowerblue;
}

/* button{
  color: black;
  font-family: poppins;
  font-size: 15px;
  padding: 8px 8px 6px 10px;
  border: 1px solid grey;
}

button:hover{
  border: none;
  color: whitesmoke;
  background-color: cornflowerblue;
} */

.add-btn{
    background-color: tomato;
}

.add-btn:hover{
    cursor: pointer;
    background-color: rgb(202, 78, 56);
}

.inactive-btn{
    color: whitesmoke;
    font-family: poppins;
    padding: 10px 20px;
    font-size: 15px;
    background-color: grey;
    border: none;
    border-radius: 10px;
  }
  
  .inactive-btn:hover{
    cursor: not-allowed;
    background-color: grey;
  }

  .button-color{
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
  }

  .button-color:hover{
    color: whitesmoke;
  }

  .card-header p{
    color: cornflowerblue;
    font-family: poppins;
    font-weight: bold;
    font-size: 15px;
  }

 .card{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-header{
    height: 3rem;
  }

  .btn-outline-primary{
  margin-right: 10px;
  margin-bottom: 15px;
}

.hidden{
  display: none;
}
