.flex{
    display: flex;
    justify-content: center;
    margin: 50px;
}

input[type="text"]{
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 4px solid grey;
}

input[type="text"]:focus{
    border-bottom: 4px solid cornflowerblue;
}


