  <div class="topnav">
    <ul>
      <li class="firstNavItem">
        <div class="search-main">
          <input class="search" type="text" placeholder="Search">
          <i class="fas fa-search search-icon"></i>
        </div>
      </li>
      <li style="float:right">
        <div class="icon-size">
          <i class="fas fa-caret-down nav-icon"></i>
        </div>
      </li>
      <li style="float:right">
        <p class="profileName">Eugene</p>
      </li>
      <li style="float:right">
        <div class="profile">
          <i class="fas fa-user center-icon"></i>
        </div>
      </li>
      <li style="float:right">
        <div class="icon-size">
          <i class="fas fa-bell nav-icon"></i>
        </div>
      </li>

      <li style="float:right">
        <div class="icon-size">
          <i class="fas fa-envelope nav-icon"></i>
        </div>
      </li>
    </ul>
  </div>

  <div class="sidenav">

    <div class="icon-size slider">
      <i class="fas fa-bars"></i>
    </div>

    <div class="icon-size" title="Home">
      <a class="icon-size" [routerLink] = "['/admin']"><i class="fas fa-home"></i></a>
    </div>

    <div class="icon-size" title="Trainees">
      <!-- <i class="fa fa-user fa-5x"></i> -->
      <i class="fas fa-user-graduate"></i>
    </div>

    <div class="icon-size" title="Users">
      <!-- <i class="fa fa-user fa-5x"></i> -->
      <a class="icon-size" [routerLink] = "['/admin/usersoverview']"><i class="fas fa-user-friends"></i></a>
    </div>

    <div class="icon-size" title="FAQ">
      <i class="fas fa-question-circle"></i>
    </div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
